.img-100 {
  width: 100px;
}

.in-top-shadow {
  box-shadow: inset 0 5px 5px rgba(0, 0, 0, 0.2);
}

.d-sm {
  display: none !important;
}

@media (max-width: 768px) {
  .d-sm {
    display: table !important;
  }

  .d-lg {
    display: none;
  }
}