.container {
  padding: 10px 100px;
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;
}

.container-card {
  padding-top: 100px;
}

@media (max-width:900px) {
  .container {
    padding: 20px;
  }
}