.navbar {
  padding: 10px 100px;
  background: rgb(83, 83, 252);
  color: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.brand {
  font-weight: bold;
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
}

.brand:hover {
  color: silver;
}

.nav-item {
  text-decoration: none;
  color: white;
}

.nav-item:hover {
  color: silver;
}


@media (max-width:900px) {
  .navbar {
    padding: 10px;
  }
}